@import url(search.scss);

* {
  list-style: none;
}

body {
  text-align: center;
}

ul {
  padding-left: 0;
}

#app {
  position: absolute;
  transform: translate(-50%, 0);
  left: 50%;
  top: 25%;
}

img {
  width: 300px;
  height: 300px;
}